.divider {
  --divider-middle-margin: 0;
  
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--border);
  margin: var(--divider-middle-margin);
}

.divider--sm {
  --divider-middle-margin: 0 8px;
}

.divider--md {
  --divider-middle-margin: 0 16px;
}

.divider--lg {
  --divider-middle-margin: 0 32px;
}
