.x-textarea {
  padding: 8px;
  background-color: var(--card);
  border: 1px solid;
  border-color: var(--border);
  border-radius: var(--radius-button);
  resize: none;
  transition: border-color 0.1s;
  caret-color: var(--primary);
  font-family: 'Inter', sans-serif;
  font-size: var(--text-base);
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
  color: var(--foreground);
  width: 100%;
  box-sizing: border-box;
}

.x-textarea:hover:not(:focus):not([readonly]):not(.x-textarea--error) {
  border-color: var(--muted-foreground);
}

.x-textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--ring);
  opacity: 0.3;
}

.x-textarea:focus:not([readonly]) {
  border-color: var(--primary);
  box-shadow: 0 0 1px 2px var(--primary);
  opacity: 0.2;
}

.x-textarea:focus:not([readonly]):not(.x-textarea--error) {
  border-color: var(--primary);
  box-shadow: 0 0 1px 2px var(--primary);
  opacity: 0.2;
}

.x-textarea::placeholder {
  color: var(--muted-foreground);
}

.x-textarea--error {
  border-color: var(--destructive);
}

.x-textarea--error:focus:not([readonly]) {
  border-color: var(--destructive);
  box-shadow: 0 0 1px 2px var(--destructive);
  opacity: 0.2;
}

.x-textarea[readonly] {
  cursor: not-allowed;
  background-color: var(--muted);
}
