:root {
  --x-sidebar-width: 30ch;
}

@media screen and (max-width: 900px) {
  :root {
    --x-sidebar-width: 20ch;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #efeef2;
}

.xd-block {
  margin: 1rem 0;
  min-width: 400px;
  min-height: 240px;
  padding: 1rem;
  outline: solid 2px #2222;
  border-radius: 16px;
}

.xd-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.xd-row {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.xd-space {
  align-items: center;
  gap: 0.5rem;
}

.x-demo {
  margin-left: var(--x-sidebar-width);
  padding-top: 2rem;
  padding-bottom: 2rem;

  p {
    max-inline-size: 800px;
    line-height: 1.5;
  }
}

.x-code-block {
  background-color: #eee;
  padding: 1rem;
  white-space: pre-wrap;
}

.xd-demo-content-header {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  > h2 {
    margin: 0;
  }
}

.xd-demo-content-header-path {
  display: inline-flex;
  font-family: monospace;
  color: #666;
}

.xd-content {
  position: relative;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  background-clip: padding-box;
  margin: 1rem;
  padding: 2rem;
  overflow: auto;
  .xd-h2 {
    margin-top: 0;
    color: #0074e6;
  }
  .xd-code {
    display: inline-flex;
    padding: 0.1rem 0.5rem;
    color: rgb(209, 64, 64);
    background: #eee;
    border-radius: 2px;
  }
  .xd-hr {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #2222;
    border: none;
  }
  .xd-a {
    padding: 0 0.25rem;
    display: inline-flex;
    text-decoration: underline;
    text-decoration-color: #0074e666;
    color: #0074e6;
    font-weight: 600;
    border-radius: 4px;

    &:hover {
      background-color: #2221;
      box-shadow: 0 0 0 4px #2221;
    }
    &:active {
      background-color: #2222;
    }
  }
  &::after {
    content: "";
    position: fixed;
    bottom: 0;
    left: var(--x-sidebar-width);
    right: 0;
    height: 2rem;
    background: linear-gradient(to bottom, #efeef200, #efeef2);
    // background-color: red;
  }
  &::before {
    content: "";
    position: fixed;
    top: 2rem;
    left: var(--x-sidebar-width);
    right: 0;
    height: 1rem;
    background: linear-gradient(to top, #efeef200, #efeef2);
  }
}

.xd-desc {
  padding: 0.5rem 1rem 1.5rem 1rem;
  border-radius: 8px;
  border: solid 1px #2222;

  > h4 {
    margin: 0.5rem 0 0.25rem 0;
    padding: 0.5rem 0 0.25rem 0;
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    border-bottom: solid 1px #2221;
  }
  dt {
    display: inline-flex;
    align-items: center;
    padding: 0.25rem;
    font-weight: 600;
    margin: 0.25rem 0.25rem 0.25rem 0;
    background-color: #eee;
    border-radius: 4px;
    font-family: monospace;
    font-size: 1.15rem;
    code[class*="language-"] {
      padding: 0.1em 0.25em;
      margin-right: 0.25em;
    }
  }
  dd {
    margin: 0 0 0.5rem 0.25rem;
    max-inline-size: 800px;
  }

  > hr {
    margin: 1.5rem 0;
  }
}

.markdown-body {
  margin: 1rem;
  width: fit-content;
  max-inline-size: 960px;

  code:not([class*="language-"]) {
    background-color: #f3f3f3;
    padding: 2px 8px;
    border-radius: 4px;
    color: var(--xv-red--600);
  }

  blockquote {
    margin: 1rem 0;
    padding: 1rem 1rem 1rem 2rem;
    border-left: solid 6px var(--xv-primary--500);
    background-color: var(--xv-primary--50);
    border-radius: 6px;

    p {
      margin: 0.2rem 0;
    }
  }
}

.xd-powerby {
  position: fixed;
  bottom: 8px;
  right: 8px;
}
